:root{
    --primary:#0066ff;
  }
  
  @font-face {
    font-family: "walk_the_moon";
    src: local("WalkTheMoon"),
      url("./assets/fonts/walk_the_moon/walkthemoon.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "ethnocentric";
    src: local("ethnocentric"),
      url("./assets/fonts/ethnocentric/ethnocentric\ rg.otf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "bigerOver";
    src: local("bigerOVer"),
      url("./assets/fonts/biger_over/bBigerOver.ttf") format("truetype");
    font-weight: normal;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  

  .App-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  
  }
  
  .Title-Text{
    font-style: normal;
    font-size: 42pt;
    font-family:'bigerOver';
    color:var(--primary);
    z-index: 10;
  
    text-shadow:
        0 0 1px rgb(255, 255, 255),
        0 0 50px var(--primary);
        
  }

  .Normal-Text{
    font-style: normal;
    font-family:'bigerOver';
    color:var(--primary);
    text-anchor: middle;
  
    text-shadow:
        0 0 1px rgb(255, 255, 255),
        2px 2px 1px rgb(0,0,0),
        0 0 40px var(--primary);
        
  }
  
  
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


  .Glow::before, .Glow::after {
    content:'';
    position:absolute;
    top:-2px;
    left:-2px;
    background: radial-gradient(  white , var(--primary) );
    background-size:400%;
    width:calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: glow_Animation 20s linear infinite;
    
    
  }

  @keyframes glow_Animation{
    0%{
      background-position: 0 0;
    }
    25%{
      background-position: 400% 0;
    
    }
    50%{
      background-position: 400% 400%;
    }
    75%{
      background-position: 0 400%;
    }
    100%{
      background-postion:0 0;
    }
  }

  .Glow ::after{
    filter:blur(10px);
    opacity: 0.7;
  } 